<div class=" container text-center p-5">
  <h1>Shto Produkt</h1>
  <form [formGroup]="addProductForm" (submit)="addProductsAsync()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="kodi">Kodi:</label>
          <input type="text" id="kodi" class="form-control" style="background-color: beige;" formControlName="kodi"
            placeholder="Kodi">
        </div>
        <div class="form-group">
          <label for="masa">Masa:</label>
          <input type="text" id="masa" class="form-control" style="background-color: beige;" formControlName="masa"
            placeholder="Masa">
        </div>
        <div class="form-group">
          <label for="sasia">Sasia:</label>
          <input type="text" id="sasia" class="form-control" style="background-color: beige;" formControlName="sasia"
            placeholder="Sasia">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ngjyra">Ngjyra:</label>
          <input type="text" id="ngjyra" class="form-control" style="background-color: beige;" formControlName="ngjyra"
            placeholder="Ngjyra">
        </div>
        <div class="form-group">
          <label for="tipi">Tipi:</label>
          <input type="text" id="tipi" class="form-control" style="background-color: beige;" formControlName="tipi"
            placeholder="Tipi">
        </div>
        <div class="form-group">
          <label for="cmimiIBlerjes">CMIMI I BLERJES:</label>
          <input type="text" id="cmimiIBlerjes " class="form-control" style="background-color: beige;"
            formControlName="cmimiIBlerjes" placeholder="cmimiIBlerjes">
        </div>
        <div class="form-group">
          <label for="cmimiIShitjes">CMIMI I SHITJES:</label>
          <input type="text" id="cmimiIShitjes" class="form-control" style="background-color: beige;"
            formControlName="cmimiIShitjes" placeholder="cmimiIShitjes">
        </div>

        <button type=" submit" class="btn btn-success mt-3">Regjistro</button>
      </div>
    </div>
  </form>
  <hr>
  <div class="table-responsive mt-5 ">
    <table class="table table-striped">
      <thead>
        <tr class="table-dark">
          <th scope="col">ID</th>
          <th scope="col">KODI</th>
          <th scope="col">MASA</th>
          <th scope="col">SASIA</th>
          <th scope="col">NGJYRA</th>
          <th scope="col">TIPI</th>
          <th scope="col">CMIMI I BLERJES</th>
          <th scope="col">CMIMI I SHITJES</th>
          <th scope="col">FITIMI</th>
          <th scope="col"></th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of products | async">
          <td class="table-warning">{{pro.id}}</td>
          <td class="table-warning">{{ pro.kodi }}</td>
          <td class="table-warning">{{pro.masa}}</td>
          <td class="table-warning">{{pro.sasia}}</td>
          <td class="table-warning">{{pro.ngjyra}}</td>
          <td class="table-warning">{{pro.tipi}}</td>
          <td class="table-warning">{{pro.cmimiIBlerjes}}</td>
          <td class="table-warning">{{pro.cmimiIShitjes}}</td>
          <td class="table-warning">{{pro.fitimi}}</td>
          <td class="table-warning"><button class="btn btn-delete">Fshij</button></td>
          <td class="table-warning"><button class="btn btn-warning " style="color: white;">Ndrysho</button></td>
    </table>
  </div>
</div>