<div class="container p-5">
  <div class="row justify-content-between align-items-center mb-4">
    <h1 class="col-md-3 text-primary"><b>Egzoni</b></h1>
    <button class="btn btn-outline-danger col-md-2" (click)="logout()">Shkyqu</button>
  </div>

  <form [formGroup]="addBrandForm" (ngSubmit)="addBrandAsync()" class="mb-4">
    <div class="row">
      <div class="col-md-3">
        <input type="text" formControlName="addBrand" class="form-control custom-input" placeholder="Shto brand">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-outline-success btn-block" [disabled]="isAddingBrand">
          <span *ngIf="isAddingBrand" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Shto Brand
        </button>
      </div>
    </div>
  </form>

  <form [formGroup]="addCategoryForm" (ngSubmit)="addCategoryAsync()" class="mb-4">
    <div class="row">
      <div class="col-md-3">
        <input type="text" formControlName="addCategory" class="form-control custom-input" placeholder="Shto kategori">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-outline-success btn-block" [disabled]="isAddingCategory">
          <span *ngIf="isAddingCategory" class="spinner-border spinner-border-sm" role="status"
            aria-hidden="true"></span>
          Shto Kategori
        </button>
      </div>
    </div>
  </form>

  <h2 class="mb-4">{{ isEdit ? 'Ndrysho' : 'Regjistro' }}</h2>
  <form [formGroup]="addProductForm" (ngSubmit)="addProductsAsync()">
    <div class="row mb-4">
      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="code" class="form-label">Kodi:</label>
          <input type="text" id="code" class="form-control custom-input" formControlName="code" placeholder="Kodi">
        </div>
        <div class="form-group mb-3">
          <label for="size" class="form-label">Masa:</label>
          <input type="text" id="size" class="form-control custom-input" formControlName="size" placeholder="Masa">
        </div>
        <div class="form-group mb-3">
          <label for="quantity" class="form-label">Sasia:</label>
          <input type="text" id="quantity" class="form-control custom-input" formControlName="quantity"
            placeholder="Sasia">
        </div>
        <div class="form-group mb-3">
          <label for="color" class="form-label">Ngjyra:</label>
          <input type="text" id="color" class="form-control custom-input" formControlName="color" placeholder="Ngjyra">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="purchasePrice" class="form-label">ÇMIMI I BLERJES:</label>
          <input type="text" id="purchasePrice" class="form-control custom-input" formControlName="purchasePrice"
            placeholder="Çmimi i Blerjes">
        </div>
        <div class="form-group mb-3">
          <label for="retailPrice" class="form-label">ÇMIMI I SHITJES:</label>
          <input type="text" id="retailPrice" class="form-control custom-input" formControlName="retailPrice"
            placeholder="Çmimi i Shitjes">
        </div>
        <div class="form-group mb-3">
          <label for="brandId" class="form-label">Brendi:</label>
          <select id="brandId" name="brandId" class="form-control custom-input" formControlName="brandId" required>
            <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="categoryId" class="form-label">Kategoria:</label>
          <select id="categoryId" name="categoryId" class="form-control custom-input" formControlName="categoryId"
            required>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6 mb-4">
      <label for="image">Images</label>
      <input type="file" (change)="setFile($event)" multiple />

    </div>
    <div class="form-group mb-3 col-md-6">
      <label for="description" class="form-label">Përshkrimi:</label>
      <textarea id="description" class="form-control custom-input" formControlName="description" rows="3"
        placeholder="Përshkrimi"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-success mt-3" [disabled]="isAddingProduct">
      <span *ngIf="isAddingProduct" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{ isEdit ? 'Ndrysho' : 'Regjistro' }}
    </button>
  </form>

  <h4 class="col-md-3 p-2 mt-5">Kërko sipas kodit</h4>
  <div class="searchbar row col-md-12 mb-4">
    <form [formGroup]="searchProductForm" (ngSubmit)="searchProduct(searchProductForm.get('search')?.value ?? '')">
      <div class="col-md-8 mb-3">
        <input class="form-control custom-input p-2" type="text" formControlName="search" placeholder="Kërko">
      </div>
      <div class="col-md-2 mb-3">
        <button type="submit" class="btn btn-outline-info py-2 px-5" [disabled]="isSearchingProduct">
          <span *ngIf="isSearchingProduct" class="spinner-border spinner-border-sm" role="status"
            aria-hidden="true"></span>
          Kërko
        </button>
      </div>
      <div class="col-md-2 mb-3">
        <button type="button" class="btn btn-outline-danger py-2 px-5" (click)="cancelSearch()">Anulo</button>
      </div>
    </form>

  </div>

  <hr>
  <h1>Stoku</h1>
  <hr>

  <div class="table-responsive mt-5">
    <table class="table table-hover custom-table">`
      <thead>
        <tr class="table-primary">
          <th scope="col">Kodi</th>
          <th scope="col">Masa</th>
          <th scope="col">Sasia</th>
          <th scope="col">Ngjyra</th>
          <th scope="col">Çmimi i Blerjes</th>
          <th scope="col">Çmimi i Shitjes</th>
          <th scope="col">Profiti</th>
          <th scope="col">Brendi</th>
          <th scope="col">Kategoria</th>
          <th scope="col">Ndrysho Sasinë</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of products">
          <td>{{ pro.code }}</td>
          <td>{{ pro.size }}</td>
          <td>{{ pro.quantity }}</td>
          <td>{{ pro.color }}</td>
          <td>{{ pro.purchasePrice }}</td>
          <td>{{ pro.retailPrice }}</td>
          <td>{{ pro.profit }}</td>
          <td>{{ getBrandName(pro.brandId) }}</td>
          <td>{{ getCategoryName(pro.categoryId) }}</td>
          <td>
            <button class="btn btn-outline-warning" (click)="editProduct(pro.id)">
              Ndrysho
            </button>
          </td>
          <td>
            <button class="btn btn-outline-danger" (click)="deleteProduct(pro.id)" [disabled]="isDeletingProduct">
              <span *ngIf="isDeletingProduct" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
              Fshij
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row align-content-center justify-content-center">
    <button (click)="loadMoreProducts()" class="btn btn-outline-info col-md-2" [disabled]="isLoadingMoreProducts">
      <span *ngIf="isLoadingMoreProducts" class="spinner-border spinner-border-sm" role="status"
        aria-hidden="true"></span>
      Faqja Tjetër
    </button>
  </div>
</div>