<header class="py-3">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <!-- Brand Logo -->
      <a class="navbar-brand" href="#">
        <img src="../../assets/EGZONI2.png" alt="Your Logo" style="object-fit: cover;">
      </a>

      <!-- Toggler for mobile view -->
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list text-dark font"></i> <!-- List icon for the toggler -->
      </button>


      <!-- Search Bar always visible -->
      <form class="d-flex flex-grow-1 ms-3" form [formGroup]="searchProductForm"
        (ngSubmit)="searchProduct(searchProductForm.get('search')?.value ?? '')">

        <input class="form-control me-2" type="text" placeholder="Kërkoni..." formControlName="search"
          aria-label="Search">
        <button class="btn" type="submit"><i class="bi bi-search"></i></button>
      </form>

      <!-- Collapsible Navbar -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a routerLink="admin" routerLinkActive="active" class="nav-link text-dark">
              <i class="bi bi-person"></i> Hyrja e anëtarit
            </a>
          </li>
          <li class="nav-item position-relative">
            <a routerLink="checkout" class="nav-link text-dark position-relative">
              <i class="bi bi-bag"></i> Shporta ime
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-badge">
                0
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/shop" routerLinkActive="active">
              <i class="bi bi-tags me-1"></i> Produktet
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="bg-white text-dark py-4">
  <div class="container  justify-content-center">
    <div class="row">
      <!-- Quick Links -->
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/home" class="text-dark">Home</a></li>
          <li><a routerLink="/shop" class="text-dark">Products</a></li>
          <li><a routerLink="/about-us" class="text-dark">About Us</a></li>
          <li><a routerLink="/contact" class="text-dark">Contact</a></li>
        </ul>
      </div>

      <!-- Contact Information -->
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-geo-alt-fill"></i> Rruga Hamzë Jashari Nr.24</li>
          <li><i class="bi bi-envelope-fill"></i> Email: <a href="mailto:egzonicenter@gmail.com"
              class="text-dark">egzonicenter&#64;gmail.com</a></li>
          <li><i class="bi bi-phone-fill"></i> Phone: +38344382404</li>
        </ul>
      </div>

      <!-- Social Media Links -->
      <div class="col-md-5">
        <h5>Follow Us</h5>
        <div class="social-links d-flex gap-3">
          <a href="https://www.facebook.com/egzonicenter/" class="text-dark"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/egzonicenter/" class="text-dark"><i class="bi bi-instagram"></i></a>
          <a href="tel:+38344382404" class="text-dark"><i class="bi bi-whatsapp me-2"></i></a>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="row mt-3">
      <div class="col text-center">
        <p>&copy; 2024 Egzoni Trade. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>