<!-- Hero Section -->
<section class="hero-section container mt-5">
  <div class="row">
    <!-- Left Banner -->
    <div class="col-lg-6 col-md-12">
      <div class="hero-banner p-4 text-white text-center">
        <h2>Zbritje sezonale</h2>
        <p>Kurse deri në</p>
        <h1 class="display-3 text-danger">40% OFF</h1>
        <p>+ TRANSPORTI FALAS & KTHIMI FALAS</p>
      </div>
    </div>

    <!-- Right Side Offers -->
    <div class="col-lg-6 col-md-12">
      <div class="row">
        <!-- Modern Rugs -->
        <div class="col-12 mb-3">
          <div class="offer-box p-4"
            style="background-image: url('https://karmenhali.com/app/Images/tokyo-01753a-a-bej-a-bej-room2_1658738626.webp'); background-size: cover; background-position: center;">
            <div class="offer-text">
              <h3>Tapete Moderne</h3>
              <h2 class="text-danger">20% OFF</h2>
            </div>
          </div>
        </div>
        <!-- Jute Rugs -->
        <div class="col-12">
          <div class="offer-box p-4"
            style="background-image: url('https://karmenhali.com/app/Images/tokyo-01702-a-gri-a-gri-room1_1658739302.webp'); background-size: cover; background-position: center;">
            <div class="offer-text">
              <h3>Tapete Jute</h3>
              <h2 class="text-danger">30% OFF</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<!-- Curtain Banner Section -->
<section class="container carpet-banner">
  <div class="curtain-banner-content">
    <h2>Transformoni Hapësirën Tepih Modern</h2>
    <p>Eksploroni koleksionin tonë luksoz të perdeve për të përfunduar ambientet tuaja.</p>
    <a class="btn-outline-danger" [routerLink]="['/shop']" routerLinkActive="active">Shiko më shumë</a>

  </div>
</section>

<br>
<div *ngIf="products.length === 0">
  <p>Nuk u gjetën produkte!</p>
</div>
<div class="container">
  <div *ngIf="products.length > 0">
    <p-carousel [value]="products" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000"
      [responsiveOptions]="responsiveOptions" [showNavigators]="true" [showIndicators]="false">

      <ng-template let-product pTemplate="item">
        <div class="card h-100 border-0 shadow-sm text-center" style="width: 90%;">
          <!-- Product Image -->
          <img [src]="getProductThumbnailUrl(product)" [alt]="product.code" class="card-img-top p-3"
            style="max-height: 450px; object-fit: cover; cursor: pointer;" (click)="navigateToProduct(product.id)" />

          <!-- Product Info -->
          <div class="card-body">
            <h5 class="card-title mb-2">{{ product.code }}</h5>
            <p class="card-text product-size text-muted">Size: {{ product.size }}</p>
            <p class="card-text fw-bold">{{ product.retailPrice | currency: 'EUR' }}</p>
          </div>

          <!-- Add to Cart Button -->
          <div class="card-footer bg-white border-0">
            <button class="btn bg-danger text-white w-100" (click)="addToCart(product.id)">
              Shto në shportë
            </button>
          </div>
        </div>
      </ng-template>

    </p-carousel>
  </div>
</div>


<section class="container last-brands-section mt-5">
  <h2 class="text-center mb-4">Koleksionet e Fundit</h2>

  <div *ngFor="let brand of getLastThreeBrands()" class="brand-section mb-5">
    <!-- Brand Banner -->
    <div class="brand-banner d-flex align-items-center mb-3 ">
      <div class="brand-content me-3">
        <a [routerLink]="['/shop']" [queryParams]="{ brand: brand.id }"
          (click)="navigateToShopWithFilters('brand', brand.id)">
          <img *ngIf="brand.logoUrl" [src]="brand.logoUrl" alt="{{ brand.name }} Logo" class="brand-logo img-fluid "
            (error)="removeImage($event)" style="max-height: 100px; width: 150px;" />
        </a>
      </div>
      <h4 class="text-muted mt-3">{{ brand.name }}</h4>
    </div>
    <br><br>
    <div class="col-md-10 mx-auto">
      <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        <div *ngFor="let product of getProductsForBrand(brand.id)" class="col">
          <div class="card product-card h-100 shadow-sm border-light">
            <!-- Image Section -->
            <div class="card-image-wrapper position-relative">
              <img [src]="getProductThumbnailUrl(product)" class="card-img-top" alt="{{ product.code }}"
                (click)="navigateToProduct(product.id)" />
              <div *ngIf="product.discountedPrice"
                class="discount-badge position-absolute top-0 start-0 m-2 bg-danger text-white rounded-pill p-1">
                -{{ product.sales[0].discountPercentage }}%
              </div>
            </div>

            <!-- Product Info Section -->
            <div class="card-body text-center">
              <h5 class="card-title">{{ getBrandName(product.brandId) }} - {{ product.code }}</h5>
              <p class="card-text product-size text-muted">Size: {{ product.size }}</p>
              <div class="price-section">
                <span *ngIf="product.discountedPrice; else regularPrice" class="price">
                  <span class="original-price text-decoration-line-through">{{ product.retailPrice | number: '1.2-2' }}
                    €</span>
                  <span class="discounted-price fw-bold text-danger">{{ product.discountedPrice | number: '1.2-2' }}
                    €</span>
                </span>
                <ng-template #regularPrice>
                  <span class="regular-price fw-bold">{{ product.retailPrice | number: '1.2-2' }} €</span>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>







<!-- Last Three Categories Section -->



<!-- Featured Curtains Section -->
<!-- <section class="featured-curtains-section">
  <h2>Zgjedhja Jonë e Perdeve Elegante</h2>
  <div class="featured-curtains-container">
    <div class="featured-curtain-card">
      <img src="../../assets/cu1.jpg" alt="Perde Moderne Luksoze">
      <div class="featured-curtain-card-content">
        <h3>Perde Moderne </h3>
        <br>
        <a class="btn-outline-danger" [routerLink]="['/shop']" routerLinkActive="active">Shiko më shumë</a>
      </div>
    </div>
    <div class="featured-curtain-card">
      <img src="../../assets/cu2.jpg" alt="Perde Sheer Moderne">
      <div class="featured-curtain-card-content">
        <h3>Perde Sheer Moderne</h3>
        <br>
        <a class="btn-outline-danger" [routerLink]="['/shop']" routerLinkActive="active">Shiko më shumë</a>
      </div>
    </div>
    <div class="featured-curtain-card">
      <img src="../../assets/cu3.webp" alt="Perde Velur Klasike">
      <div class="featured-curtain-card-content">
        <h3>Perde Velur Klasike</h3>
        <br>
        <a class="btn-outline-danger" [routerLink]="['/shop']" routerLinkActive="active">Shiko më shumë</a>
      </div>
    </div>
  </div>
</section> -->