/* Hero Section */
.hero {
  position: relative;
  background-image: url('../../assets/c4.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  opacity: 0;
  /* Start hidden for fade-in effect */
  animation: fadeIn 1s forwards;
  /* Fade-in animation */
}

@keyframes fadeIn {
  to {
    opacity: 1;
    /* Fully visible after the animation */
  }
}

.hero-content {
  max-width: 100%;
}

.hero-content h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: red;
  /* Gold color */
  color: #fff;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  /* Added box-shadow transition */
}

.btn-primary:hover {
  background-color: darkred;
  /* Darker gold */
  transform: scale(1.05);
  /* Added slight rotation */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  /* Added shadow effect */
}

/* Filter Container */
.filter-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.filter-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 35px;
  padding-right: 10px;
}

/* Form Elements */
.form-select,
.form-control {
  border-radius: 0.5rem;
  width: 100%;
}

.form-select-lg {
  padding: 10px;
}

/* Buttons */
.btn-primary-filters {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  height: auto;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  /* Added box-shadow transition */
}

.btn-primary-filters:hover {
  background-color: darkred;
  transform: scale(1.05);
  /* Added slight rotation */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  /* Added shadow effect */
}

/* Price Range */
.price-range-container {
  display: flex;
  justify-content: space-between;
}

.price-range-item {
  flex: 1;
  margin-right: 10px;
}

.price-range-item:last-child {
  margin-right: 0;
}

/* Cards */
.card-img-container {
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

.card-width {
  border: 1px rgb(221, 219, 219) solid;
  border-radius: 10px;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-card {
  border: 1px solid red;
  /* Gold border */
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Transition for transform and box-shadow */
}

.custom-card:hover {
  transform: translateY(-5px) scale(1.02);
  /* Added scaling */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  /* Shadow effect */
}

/* Card Body */
.card-body {
  padding: 5px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.product-size {
  margin-right: 15px;
  font-size: 0.9rem;
}

.product-price {
  font-size: 0.9rem;
}

.text-dark {
  color: #333;
}

.text-muted {
  color: #6c757d;
}

.filter-group {
  margin-bottom: 0;
}

/* Last filter group should not have margin */
.filter-group:last-child {
  margin-right: 0;
}

.ribbon {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 1;
  background-color: red;
  color: white;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: bold;
}

.original-price {
  font-size: 16px;
  text-decoration: line-through;
  color: red;
}

.discounted-price {
  font-size: 20px;
  color: green;
  font-weight: bold;
}

.discount-percentage {
  font-size: 14px;
  margin-left: 5px;
  color: red;
}

/* Responsive Design */
@media (max-width: 768px) {
  .filter-container {
    margin-bottom: 20px;
  }
}