<!-- Hero Section -->
<div class="container">
  <section class="hero">
    <div class="hero-overlay">
      <div class="hero-content">
        <h2>Zbuloni Luksin e Tepihëve të Jashtme</h2>
        <p>Ngrini hapësirën tuaj me përzgjedhjen tonë të kuratorëve të tepave dhe qilimëve të lartë.</p>
        <a class="btn-primary" href="shop">Eksploroni Koleksionin Tonë</a>
      </div>
    </div>
  </section>

  <!-- Filter and Product Display Section -->
  <div class="py-4">
    <div class="row">
      <!-- Filters for Larger Screens -->
      <div class="col-md-3 mb-4 d-none d-md-block ">
        <mat-card class=" filter-card">
          <mat-card-title>Filtro</mat-card-title>
          <mat-card-content>
            <form [formGroup]="filterForm" (ngSubmit)="filterProducts()">
              <mat-form-field appearance="fill" color="warn" class="w-100 mb-3">
                <mat-label>Brendi</mat-label>
                <mat-select formControlName="brand">
                  <mat-option value="">Të gjitha</mat-option>
                  <mat-option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100 mb-3" color="warn">
                <mat-label>Kategoria</mat-label>
                <mat-select formControlName="category">
                  <mat-option value="">Të gjitha</mat-option>
                  <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100 mb-3" color="warn">
                <mat-label>Çmimi min</mat-label>
                <input matInput type="number" formControlName="minPrice" placeholder="10">
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100 mb-3" color="warn">
                <mat-label>Çmimi max</mat-label>
                <input matInput type="number" formControlName="maxPrice" placeholder="299">
              </mat-form-field>

              <button mat-raised-button color="warn" type="submit" class="w-100 custom-radius">
                Apliko Filtrat
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Toggleable Filters for Small Screens -->
      <div class="d-md-none text-center mb-4">
        <button mat-button (click)="toggleFilterVisibility()" class="filter-toggle-rect-btn">
          <mat-icon class="mr-2">filter_alt</mat-icon>
          <span *ngIf="!isFilterVisible">Shfaq Filtrat</span>
          <span *ngIf="isFilterVisible">Mbyll Filtrat</span>
        </button>
      </div>

      <!-- Filters for Small Screens -->
      <div class="col-12 d-md-none" [ngClass]="{ 'd-none': !isFilterVisible }">
        <mat-card class="filter-card">
          <mat-card-content>
            <form [formGroup]="filterForm" (ngSubmit)="filterProducts()">
              <mat-form-field appearance="fill" color="warn" class="w-100 mb-3">
                <mat-label>Brendi</mat-label>
                <mat-select formControlName="brand">
                  <mat-option value="">Të gjitha</mat-option>
                  <mat-option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100 mb-3" color="warn">
                <mat-label>Kategoria</mat-label>
                <mat-select formControlName="category">
                  <mat-option value="">Të gjitha</mat-option>
                  <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100 mb-3" color="warn">
                <mat-label>Çmimi min</mat-label>
                <input matInput type="number" formControlName="minPrice" placeholder="10">
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-100 mb-3" color="warn">
                <mat-label>Çmimi max</mat-label>
                <input matInput type="number" formControlName="maxPrice" placeholder="299">
              </mat-form-field>

              <button mat-raised-button color="warn" type="submit" class="w-100 custom-radius">
                Apliko Filtrat
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-9 mx-auto">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 justify-content-center">
          <div *ngFor="let product of filteredProducts" class="col d-flex">
            <mat-card class="product-card w-100" (click)="navigateToProduct(product.id)">
              <img mat-card-image [src]="getProductThumbnailUrl(product)" alt="Product image">
              <mat-card-content>
                <mat-card-header>
                  <mat-card-title>{{ getBrandName(product.brandId) }} - {{ product.code }}</mat-card-title>
                </mat-card-header>
                <p class="product-size">Size: {{ product.size }}</p>
                <div class="price-section">
                  <span *ngIf="product.discountedPrice; else regularPrice">
                    <span class="original-price">{{ product.retailPrice | number: '1.2-2' }} €</span>
                    <span class="discounted-price">{{ product.discountedPrice | number: '1.2-2' }} €</span>
                  </span>
                  <ng-template #regularPrice>
                    <span class="regular-price">{{ product.retailPrice | number: '1.2-2' }} €</span>
                  </ng-template>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

    </div>
  </div>