/* General Styles */
.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  height: 100%;
  max-width: 280px;
  /* Leaner look */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

/* Hero Section */
.hero {
  position: relative;
  background-image: url('../../assets/c4.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hero-content {
  max-width: 100%;
}

.hero-content h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  background-color: darkred;
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Card Image */
.card-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.1);
}

/* Discount Badge */
.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

/* Card Body */
.card-body {
  padding: 15px;
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.product-size {
  font-size: 0.9rem;
  color: #666;
}

.price-section {
  margin-top: 10px;
}

.original-price {
  font-size: 1rem;
  color: black;
  text-decoration: line-through;
  margin-right: 10px;
}

.discounted-price {
  font-size: 1.2rem;
  color: red;
  font-weight: bold;
}

.regular-price {
  font-size: 1.2rem;
  color: black;
}

/* Filter Section */
.filter-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.filter-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 35px;
  padding-right: 10px;
}

.form-select,
.form-control {
  border-radius: 0.5rem;
  width: 100%;
}

.btn-primary-filters {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary-filters:hover {
  background-color: darkred;
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Price Range */
.price-range-container {
  display: flex;
  justify-content: space-between;
}

.price-range-item {
  flex: 1;
  margin-right: 10px;
}

.price-range-item:last-child {
  margin-right: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .filter-container {
    margin-bottom: 20px;
  }

  .card {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .card-image-wrapper {
    height: 200px;
  }
}