<div class="container gradient-background py-4">
  <div class="row">
    <div class="col-md-3">
      <!-- Filters -->
      <div class="mb-4">
        <form [formGroup]="filterForm" (ngSubmit)="filterProducts()">
          <div class="mb-3">
            <label for="brand" class="form-label">Brand:</label>
            <select formControlName="brand" id="brand" class="form-select">
              <option value="">All Brands</option>
              <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <select formControlName="category" id="category" class="form-select">
              <option value="">All Categories</option>
              <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="minPrice" class="form-label">Min Price:</label>
            <input type="number" formControlName="minPrice" id="minPrice" class="form-control" placeholder="Min Price">
          </div>
          <div class="mb-3">
            <label for="maxPrice" class="form-label">Max Price:</label>
            <input type="number" formControlName="maxPrice" id="maxPrice" class="form-control" placeholder="Max Price">
          </div>
          <button type="submit" class="btn btn-primary">Apply Filters</button>
        </form>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let product of filteredProducts" class="col mb-4">
          <div class="card h-100 custom-card border-0 shadow-sm product-card" (click)="navigateToProduct(product.id)">
            <!-- Image Section -->
            <div class="card-img-container">
              <img [src]="getProductThumbnailUrl(product)" class="card-img-top" alt="">
            </div>
            <!-- Details Section -->
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ product.code }}</h5>
              <p class="card-text"><strong>Masa:</strong> {{ product.size }}</p>
              <p class="card-text"><strong>Brendi:</strong> {{ getBrandName(product.brandId) }}</p>
              <p class="card-text"><strong>Kategoria:</strong> {{ getCategoryName(product.categoryId) }}</p>
              <p class="card-text"><strong>Cmimi:</strong> {{ product.retailPrice }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>