<div *ngIf="loading && orderPlaced" class="alert alert-success text-center"
  style="background-color: #fcf7f4; color: #155724;">
  <i class="bi bi-check-circle"></i> Porosia u vendos me sukses!
  <div class="mt-2" style="font-weight: bold; color: #007BFF;">
    <i class="bi bi-rocket-takeoff-fill" style="font-size: 1.5rem; color: #FF5733;"></i> Porosia do të arrijë brenda
    24-72 orëve!
  </div>
</div>

<div class="container-fluid" style="background-color: #f8f9fa;">
  <div class="container checkout-container py-4">
    <button (click)="goBack()" class="btn mt-4" [ngStyle]="{'background-color': '#f1f3f5'}">Kthehu në Dyqan</button>
    <div class="row">
      <!-- Cart Items -->
      <div class="col-lg-8">
        <br>

        <table class="table">
          <thead style="background-color: #ececec; color: #4d4d4d;">
            <tr>
              <th>Produkti</th>
              <th>Kodi</th>
              <th>Çmimi</th>
              <th>Sasia</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems">
              <td>
                <img [src]="getProductThumbnailUrl(item.id)" alt="{{ getProductCode(item.id) }}" class="img-thumbnail"
                  style="width:70px; height: 100px;" />
              </td>
              <td class="align-middle">{{ getProductCode(item.id) }}</td>
              <td class="align-middle">
                <ng-container *ngIf="getDiscountedPrice(item.id) < getProductPrice(item.id); else originalPrice">
                  <span style="text-decoration: line-through; color: red;">
                    {{ getProductPrice(item.id) | currency:'EUR' }}
                  </span>
                  <span class="ms-2 text-success">
                    {{ getDiscountedPrice(item.id) | currency:'EUR' }}
                  </span>
                </ng-container>
                <ng-template #originalPrice>
                  <span>{{ getProductPrice(item.id) | currency:'EUR' }}</span>
                </ng-template>
              </td>
              <td class="align-middle">
                <div class="d-flex align-items-center">
                  <button (click)="decrementQuantity(item.id)" class="btn btn-outline-secondary btn-sm">-</button>

                  <span class="mx-2">{{ item.quantity }}</span>
                  <button (click)="incrementQuantity(item.id)" class="btn btn-outline-secondary btn-sm">+</button>

                </div>
              </td>
              <td class="align-middle">
                <button (click)="removeItem(item.id)" class="btn btn-outline-danger btn-sm">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <h3 class="text-success text-end">Çmimi Total: {{ totalPrice | currency:'EUR' }}</h3>
      </div>

      <!-- Order Form -->
      <div class="col-lg-4 mt-4 mt-lg-0">
        <form [formGroup]="orderForm" (ngSubmit)="submitOrder()" class="p-4 rounded shadow-sm"
          style="background-color: #ffffff;">
          <h5 class="text-center mb-4" style="font-family: 'Georgia', serif; color: #555;">Informacioni i Porosisë</h5>

          <!-- Personal Information Section -->
          <div class="border-bottom pb-3 mb-3">
            <h6 class="text-uppercase mb-3" style="font-size: 0.9rem; color: #7d7d7d;">Të dhënat personale</h6>
            <div class="form-group mb-3">
              <label for="name">Emri</label>
              <input id="name" formControlName="name" type="text" class="form-control" />
              <div *ngIf="orderForm.get('name')?.invalid && orderForm.get('name')?.touched" class="invalid-feedback">
                Emri është i detyrueshëm.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input id="email" formControlName="email" type="email" class="form-control" />
              <div *ngIf="orderForm.get('email')?.invalid && orderForm.get('email')?.touched" class="invalid-feedback">
                <div *ngIf="orderForm.get('email')?.errors?.['required']">Email është i detyrueshëm.</div>
                <div *ngIf="orderForm.get('email')?.errors?.['email']">Emaili është i pavlefshëm.</div>
              </div>
            </div>
          </div>

          <!-- Address Section -->
          <div class="border-bottom pb-3 mb-3">
            <h6 class="text-uppercase mb-3" style="font-size: 0.9rem; color: #7d7d7d;">Adresa</h6>
            <div class="form-group mb-3">
              <label for="deliveryAddress">Adresa e Dërgesës</label>
              <input id="deliveryAddress" formControlName="deliveryAddress" type="text" class="form-control" />
              <div *ngIf="orderForm.get('deliveryAddress')?.invalid && orderForm.get('deliveryAddress')?.touched"
                class="invalid-feedback">
                Adresa e dërgesës është e detyrueshme.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="phoneNumber">Numri i Telefonit</label>
              <input id="phoneNumber" formControlName="phoneNumber" type="text" class="form-control" />
              <div *ngIf="orderForm.get('phoneNumber')?.invalid && orderForm.get('phoneNumber')?.touched"
                class="invalid-feedback">
                Numri i telefonit është i detyrueshëm.
              </div>
            </div>
          </div>

          <!-- Payment Method Section -->
          <div class="border-bottom pb-3 mb-3">
            <h6 class="text-uppercase mb-3" style="font-size: 0.9rem; color: #7d7d7d;">Metoda e pagesës</h6>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="cash" value="cash" name="paymentMethod" checked />
              <label class="form-check-label" for="cash">Pages me Cash</label>
            </div>
          </div>

          <!-- Additional Message -->
          <div class="form-group">
            <label for="additionalMessage">Mesazhi Shtesë</label>
            <textarea id="additionalMessage" formControlName="additionalMessage" class="form-control"></textarea>
          </div>

          <button type="submit" class="btn btn-dark w-100 mt-4" [disabled]="orderForm.invalid || loading">
            <i class="bi bi-box-arrow-in-right"></i> Vendos Porosi
          </button>
        </form>
      </div>
    </div>
  </div>
</div>