<div *ngIf="loading && orderPlaced" class="alert alert-success text-center"
  style="background-color: #d4edda; color: #155724;">
  <i class="bi bi-check-circle"></i> Porosia u vendos me sukses!
  <div class="mt-2" style="font-weight: bold; color: #007BFF;">
    <i class="bi bi-rocket-takeoff-fill" style="font-size: 1.5rem; color: #FF5733;"></i> Porosia do të arrijë brenda
    24-72 orëve!
  </div>
</div>

<div class="container checkout-container py-4">
  <div class="row">
    <!-- Cart Items -->
    <div class="col-lg-8">
      <table class="table">
        <thead class="bg-danger text-white">
          <tr>
            <th>Produkti</th>
            <th>Kodi</th>
            <th>Çmimi</th>
            <th>Sasia</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <td>
              <img [src]="getProductThumbnailUrl(item.id)" alt="{{ getProductCode(item.id) }}"
                style="width: 50px; height: 50px;" />
            </td>
            <td class="py-4">{{ getProductCode(item.id) }}</td>
            <td class="py-4">
              <ng-container *ngIf="getDiscountedPrice(item.id) < getProductPrice(item.id); else originalPrice">
                <span style="text-decoration: line-through; color: red;">
                  {{ getProductPrice(item.id) | currency:'EUR' }}
                </span>
                <span class="ms-2" style="color: green;">
                  {{ getDiscountedPrice(item.id) | currency:'EUR' }}
                </span>
              </ng-container>
              <ng-template #originalPrice>
                <span style="color: black;">
                  {{ getProductPrice(item.id) | currency:'EUR' }}
                </span>
              </ng-template>
            </td>

            <td>
              <div class="d-flex align-items-center py-2">
                <button (click)="incrementQuantity(item.id)" class="btn btn-outline-success btn-group-sm">+</button>
                <span class="mx-2">{{ item.quantity }}</span>
                <button (click)="decrementQuantity(item.id)" class="btn btn-outline-danger btn-group-sm px-3">-</button>
              </div>
            </td>
            <td class="py-4">
              <button (click)="removeItem(item.id)" class="btn btn-danger btn-sm btn-group-sm px-3"><i
                  class="bi bi-trash3-fill"></i></button>
            </td>
          </tr>
        </tbody>

      </table>
      <h3 class="total-price text-success">Çmimi Total: {{ totalPrice | currency:'EUR' }}</h3>
    </div>

    <!-- Order Form -->
    <div class="col-lg-4 mt-4 mt-lg-0">
      <form [formGroup]="orderForm" (ngSubmit)="submitOrder()" class="bg-light p-3 rounded shadow-sm">
        <h5 class="text-center">Informacioni i Porosisë</h5>
        <div class="form-group">
          <label for="name">Emri</label>
          <input id="name" formControlName="name" type="text" class="form-control" />
          <div *ngIf="orderForm.get('name')?.invalid && orderForm.get('name')?.touched" class="invalid-feedback">
            Emri është i detyrueshëm.
          </div>
        </div>
        <!-- Email Field -->
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" formControlName="email" type="email" class="form-control" />
          <div *ngIf="orderForm.get('email')?.invalid && orderForm.get('email')?.touched" class="invalid-feedback">
            <div *ngIf="orderForm.get('email')?.errors?.['required']">Email është i detyrueshëm.</div>
            <div *ngIf="orderForm.get('email')?.errors?.['email']">Emaili është i pavlefshëm.</div>
          </div>
        </div>

        <!-- Delivery Address Field -->
        <div class="form-group">
          <label for="deliveryAddress">Adresa e Dërgesës</label>
          <input id="deliveryAddress" formControlName="deliveryAddress" type="text" class="form-control" />
          <div *ngIf="orderForm.get('deliveryAddress')?.invalid && orderForm.get('deliveryAddress')?.touched"
            class="invalid-feedback">
            Adresa e dërgesës është e detyrueshme.
          </div>
        </div>

        <!-- Phone Number Field -->
        <div class="form-group">
          <label for="phoneNumber">Numri i Telefonit</label>
          <input id="phoneNumber" formControlName="phoneNumber" type="text" class="form-control" />
          <div *ngIf="orderForm.get('phoneNumber')?.invalid && orderForm.get('phoneNumber')?.touched"
            class="invalid-feedback">
            Numri i telefonit është i detyrueshëm.
          </div>
        </div>

        <!-- Additional Message Field -->
        <div class="form-group">
          <label for="additionalMessage">Mesazhi Shtesë</label>
          <textarea id="additionalMessage" formControlName="additionalMessage" class="form-control"></textarea>
        </div>

        <div class="payment-info my-3 col-12">
          <h6>Metoda e Pagesës:</h6>
          <div class="row align-items-center">
            <div class="col-md-1">
              <i class="bi bi-cash" style="font-size: 1.5rem; color:green;"></i>
            </div>
            <div class="col-md-11">
              <h4 class="mt-3">Pages me cash</h4>
            </div>
          </div>
          <div class="row mt-3 align-items-center">
            <div class="col-md-1">
              <i class="bi bi-rocket-takeoff-fill" style="font-size: 1.5rem; color: #FF5733;"></i>
            </div>
            <div class="col-md-11">
              <h4 class="mt-3">Dërgesa e Shpejtë</h4>
              <p style="font-size: 0.9rem; color: #6c757d;">Porosia do të arrijë brenda 24-72 orëve!</p>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-danger w-100 mt-3" [disabled]="orderForm.invalid || loading">Vendos
          Porosi</button>
      </form>
    </div>
  </div>

  <button (click)="goBack()" class="btn btn-outline-danger mt-4">Kthehu në Dyqan</button>
</div>