<div class="container">
  <div class="map-container">
    <google-map height="400px" width="600px" [center]="center" [zoom]="zoom">
      <map-marker [position]="center" [options]="markerOptions">
      </map-marker>
    </google-map>
  </div>
  <div class="info-container">
    <h1>About Us</h1>
    <p>Welcome to Egzoni Center! We are located at the heart of the city, offering a range of services and products. Our
      center is easily accessible and designed to make your visit as convenient as possible.</p>
    <button (click)="getDirections()" class="get-directions-button">Get Directions</button>
  </div>
</div>