.modal-content {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.modal-dialog {
  max-width: 40% !important;
}

.modal-body {
  padding: 1rem !important;
}

.btn-outline-secondary {
  border-color: #6c757d !important;
  color: #6c757d !important;
}

.btn-outline-secondary:hover {
  background-color: #6c757d !important;
  color: #ffffff !important;
}

.btn-close {
  color: red;
}

@media (max-width: 768px) {
  .modal-dialog {
    max-width: 110% !important;
    margin: auto !important;
  }

  .modal-content {
    height: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    .modal-body {
      padding: 1rem !important;
    }

    .btn-outline-secondary {
      width: auto !important;
      margin: 0.5rem 0 !important;
    }
  }
}