<div *ngIf="product$ | async as product" class="product-details-container">
  <div class="card shadow-lg">
    <div class="card-body">
      <div class="row">
        <!-- Product Image and Gallery -->
        <div class="col-lg-6 position-relative">
          <div class="main-image-container">
            <img [src]="selectedImage" alt="Product Image" class="img-fluid rounded" (click)="openModal()" />
            <div class="image-navigation">
              <button (click)="prevImage()" class="btn btn-outline-danger" [disabled]="images.length === 0">
                <i class="bi bi-chevron-left"></i>
              </button>
              <button (click)="nextImage()" class="btn btn-outline-danger" [disabled]="images.length === 0">
                <i class="bi bi-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Product Details -->
        <div class="col-lg-6">
          <h2 class="product-title text-dark font-weight-bold">{{ product.code }}</h2>
          <h5 class="product-subtitle text-muted">{{ product.description }}</h5>
          <div class="table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td><strong>Brand:</strong></td>
                  <td>{{ getBrandName(product.brandId) }}</td>
                </tr>
                <tr>
                  <td><strong>Category:</strong></td>
                  <td>{{ getCategoryName(product.categoryId) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <ul class="details-list list-unstyled mt-3">
            <li><i class="fa fa-check text-success"></i> <strong>Code:</strong> {{ product.code }}</li>
            <li><i class="fa fa-check text-success"></i> <strong>Color:</strong> {{ product.color }}</li>
            <li><i class="fa fa-check text-success"></i> <strong>Size:</strong> {{ product.size }}</li>
            <li><i class="fa fa-check text-success"></i> <strong>Quantity:</strong> {{ product.quantity }}</li>
          </ul>
          <div class="price-section mt-3">
            <!-- Price Details -->
            <div class="price-details">
              <span *ngIf="product.discountedPrice; else regularPrice">
                <span class="original-price text-muted text-decoration-line-through me-2">
                  {{ product.retailPrice | currency:'EUR' }}
                </span>
                <span class="discounted-price text-danger fw-bold">
                  {{ product.discountedPrice | currency:'EUR' }}
                </span>
                <span *ngIf="product.sales && product.sales[0].discountPercentage"
                  class="discount-percentage text-success">
                  (-{{ product.sales[0].discountPercentage }}%)
                </span>
              </span>
              <ng-template #regularPrice>
                <h3 class="product-price text-success">{{ product.retailPrice | currency :'EUR' }}</h3>
              </ng-template>
            </div>

            <!-- Button Group -->
            <div class="button-group mt-2">
              <button (click)="addToCart(product.id)" class="btn custom-btn">
                <i class="bi bi-cart"></i> Shto në shportë
              </button>
              <button (click)="buyNow(product?.id)" class="btn custom-btn-buy">
                <i class="bi bi-lightning-fill"></i> Bleje menjëherë
              </button>
            </div>
          </div>


          <div class="toast-container position-fixed top-0 end-0 p-3">
            <div id="cartToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="me-auto">Success</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                Produkti u shtua!
              </div>
            </div>
          </div>
          <div class="thumbnail-gallery mt-2">
            <div *ngFor="let image of images" class="thumbnail">
              <img [src]="image.thumb" (click)="selectImage(image.src)" [class.selected]="image.src === selectedImage"
                class="img-thumbnail" />
            </div>
          </div>
          <span *ngIf="product.endDate" class="end-date text-danger ms-2">
            (Zbritja perfundon më: {{ product.endDate | date: 'shortDate' }})
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for Viewing Images -->
  <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body position-relative">
          <img [src]="selectedImage" alt="Product Image" class="img-fluid rounded" />
          <div class="image-navigation">
            <button (click)="prevImage()" class="btn btn-outline-danger" [disabled]="images.length === 0">
              <i class="bi bi-chevron-left"></i>
            </button>
            <button (click)="nextImage()" class="btn btn-outline-danger" [disabled]="images.length === 0">
              <i class="bi bi-chevron-right"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>