<div class="text-dark pt-3 container-fluid mb-5" [ngStyle]="{'background-color': '#f8f9fa'}">
  <div *ngIf="product$ | async as product" class="container py-5">
    <div class="card shadow-sm border-0 rounded-4 container" [ngStyle]="{'background-color': '#ffffff'}">
      <div class="card-body p-4">
        <div class="row">
          <!-- Main Image with Navigation -->
          <div class="col-lg-4 col-md-6 position-relative">
            <div class="rounded-3 shadow-sm p-1" [ngStyle]="{'background-color': '#f8f9fa'}">
              <img [src]="selectedImage" alt="Product Image" class="img-fluid rounded w-100" (click)="openModal()"
                style="cursor: pointer;" />
              <!-- Navigation Arrows -->
              <button (click)="prevImage()"
                class="btn btn-outline-secondary position-absolute top-50 start-0 translate-middle-y"
                style="background-color: white; color: black;" [disabled]="images.length === 0">
                <i class="bi bi-chevron-left"></i>
              </button>
              <button (click)="nextImage()"
                class="btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y"
                style="background-color: white; color: black;" [disabled]="images.length === 0">
                <i class="bi bi-chevron-right"></i>
              </button>
            </div>
          </div>

          <!-- Thumbnails on the Right -->
          <div class="col-lg-2 d-none d-lg-flex flex-column gap-2">
            <img *ngFor="let image of images" [src]="image.thumb" (click)="selectImage(image.src)"
              [class.border-primary]="image.src === selectedImage" class="img-thumbnail rounded shadow-sm"
              style="width: 60px; height: 60px; cursor: pointer; background-color: #f8f9fa;" />
          </div>
          <!-- Horizontal Thumbnails for Smaller Screens -->
          <div class="d-lg-none mb-3 d-flex flex-nowrap gap-2 overflow-auto">
            <img *ngFor="let image of images" [src]="image.thumb" (click)="selectImage(image.src)"
              [class.border-primary]="image.src === selectedImage" class="img-thumbnail rounded shadow-sm"
              style="width: 60px; height: 60px; cursor: pointer; background-color: #f8f9fa;" />
          </div>

          <!-- Product Details -->
          <div class="col-lg-6 col-md-12">
            <!-- Product Info Table -->
            <div class="product-details text-dark rounded-3 p-3" [ngStyle]="{'background-color': '#f1f1f1'}">
              <h4 class="fw-bold mb-3">Detajet</h4>
              <hr>
              <h2 class="fw-bold text-dark">{{ getBrandName(product.brandId) }} - {{ product.code }}</h2>
              <h5 class="text-muted mb-4">{{ product.description }}</h5>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex justify-content-between">
                  <span class="text-dark">Brendi:</span>
                  <span>{{ getBrandName(product.brandId) }}</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="text-dark">Kategoria:</span>
                  <span>{{ getCategoryName(product.categoryId) }}</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="text-dark">Ngjyra:</span>
                  <span>{{ product.color }}</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="text-dark">Masa:</span>
                  <span>{{ product.size }}</span>
                </div>
                <hr>
                <!-- Total Price Section -->
                <div class="d-flex justify-content-between">
                  <span class="text-dark fw-bold">Totali:</span>
                  <div>
                    <span
                      *ngIf="product.discountedPrice && product.discountedPrice < product.retailPrice; else regularPrice">
                      <span class="text-muted text-decoration-line-through me-2">{{ product.retailPrice | currency:
                        'EUR' }}</span>
                      <span class="text-danger fw-bold">{{ product.discountedPrice | currency: 'EUR' }}</span>
                      <span *ngIf="product.sales && product.sales[0].discountPercentage" class="badge bg-danger ms-2">
                        -{{ product.sales[0].discountPercentage }}%
                      </span>
                    </span>
                    <ng-template #regularPrice>
                      <span class="text-dark fw-bold">{{ product.retailPrice | currency: 'EUR' }}</span>
                    </ng-template>
                  </div>
                </div>
                <!-- Offer End Date -->
                <div *ngIf="product.endDate" class="d-flex justify-content-between">
                  <span class="text-dark">Oferta është e vlefshme deri më:</span>
                  <span>{{ product.endDate | date: 'shortDate' }}</span>
                </div>
              </div>
            </div>
            <!-- Transport Details -->
            <div class="transport-details text-dark rounded-3 p-3 mt-2" [ngStyle]="{'background-color': '#f1f1f1'}">
              <h4 class="fw-bold mb-3">Detajet e Transportit</h4>
              <hr>
              <div class="d-flex flex-column gap-2">
                <div class="d-flex justify-content-between">
                  <span class="text-dark"><i class="bi bi-truck"></i> Transporti:</span>
                  <span>Falas</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="text-dark"><i class="bi bi-clock"></i> Koha e Dorëzimit:</span>
                  <span>1-3 ditë pune</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="text-dark"><i class="bi bi-geo-alt"></i> Vendndodhja:</span>
                  <span>Lipjan, Kosovë</span>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex flex-row-reverse gap-3 mt-2">
            <button (click)="addToCart(product.id)" class="btn btn-primary">
              <i class="bi bi-cart"></i> Shto ne shportë
            </button>
            <button (click)="buyNow(product.id)" class="btn btn-outline-secondary">
              <i class="bi bi-lightning-fill"></i> Blej Menjëherë
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs">
      <div class="modal-content">
        <div class="modal-body position-relative">
          <img [src]="selectedImage" alt="Product Image" class="img-fluid rounded w-100" />
          <!-- Navigation Arrows -->
          <button (click)="prevImage()"
            class="btn btn-outline-secondary position-absolute top-50 start-0 translate-middle-y"
            [disabled]="images.length === 0" style="background-color: white; color: black;">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button (click)="nextImage()"
            class="btn btn-outline-secondary position-absolute top-50 end-0 translate-middle-y"
            [disabled]="images.length === 0" style="background-color: white; color: black;">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn-close btn-danger position-absolute  top-0 end-0 m-2" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Similar Products Section -->
  <div class="container mt-5">
    <h4 style="font-size: 1.5rem; font-weight: bold; color: #343a40; text-align: center;">Produkte të ngjashme</h4>
    <div class="section-divider"></div>
    <br>
    <div class="row row-cols-2 row-cols-md-5 g-2 justify-content-center">
      <div *ngFor="let product of products.slice(0, 5)" class="col d-flex" style="width: 250px;">
        <mat-card class="product-card w-100 text-dark shadow-lg text-center"
          style="cursor: pointer; height: 400px; overflow: hidden;" (click)="navigateToProduct(product.id)">
          <div *ngIf="product.sales?.[0]?.discountPercentage" class="discount-ribbon">
            - {{ product.sales[0].discountPercentage }}%
          </div>
          <div class="product-image" [ngClass]="{'out-of-stock': isProductOutOfStock(product)}">
            <img mat-card-image [src]="getProductThumbnailUrl(product)" alt="Product image"
              style="height: 400px; width: 100%; object-fit: cover;" class="Img" />
            <div *ngIf="isProductOutOfStock(product)" class="out-of-stock-label">Nuk ka Stok</div>
          </div>
          <mat-card-content class="card-content d-flex flex-column align-items-center justify-content-center p-2"
            style="height: 60px; font-size: 0.8rem; width: 90%; margin-top: -60px; background: rgba(255, 255, 255, 0.9); border-radius: 2px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); z-index: 1; position: relative; left: 50%; transform: translateX(-50%);top: -10px;">
            <div class="d-flex justify-content-between w-100">
              <span class="product-title">{{ getBrandName(product.brandId) }}</span>
              <span class="product-size">{{ product.size }}</span>
            </div>
            <div class="price-container mt-2 d-flex align-items-center">
              <span *ngIf="product.discountedPrice; else regularPrice">
                <span class="original-price text-decoration-line-through text-dark me-1">
                  {{ product.retailPrice | number: '1.2-2' }} €
                </span>
                <span class="discounted-price text-danger fw-bold">
                  {{ product.discountedPrice | number: '1.2-2' }} €
                </span>
              </span>
              <ng-template #regularPrice>
                <p class="regular-price fw-bold">
                  {{ product.retailPrice | number: '1.2-2' }} €
                </p>
              </ng-template>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>